extend base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg.account__icons
        use(xlink:href=`img/icons/icons.svg#icon-${icon}`)
      | #{text}

block content 
    main.main
        .user-view
        nav.user-view__menu
            ul.side-nav
              li.sider-nav
                +navItem('#', ' Settings', 'settings', true)
              li.sider-nav
                +navItem('/my-products', ' Purchases', 'briefcase')
              li.sider-nav
                +navItem('#', ' Reviews', 'star')
              li.sider-nav
                +navItem('#', ' Billing', 'credit-card')

            - if (user.role === 'admin')
            .admin-nav
                h5.admin-nav__heading
                ul.side-nav
                  li.sider-nav
                    +navItem('#', ' Products', 'map')
                  li.sider-nav
                    +navItem('#', ' Users', 'users')
                  li.sider-nav
                    +navItem('#', ' Reviews', 'star')
                  li.sider-nav
                    +navItem('#', ' Purchases', 'briefcase')

        .user-view__content
            .user-view__form-container
            h2.heading-secondary.ma-bt-md
            
            //- WITHOUT API
            //- form.form.form-user-data(action='/submit-user-data' method='POST' enctype='multipart/form-data')
            
            //- WITH API
            form.form.form-user-data
              .intro__account
                img.form__user-photo-account(src=`/img/users/${user.photo}`, alt='User photo')
                
                input(type='file', accept='image/*', id='photo', name='photo')
                label(for='photo') edit photo

              .form__group
              label.form__label__pass(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
              .form__group.ma-bt-md
              label.form__label__pass(for='email') Email
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
              .form__group.form__photo-upload
              .form__group.right
              button.btn.btn--small.btn--green Save new name/email
                
            .line &nbsp;
            
            .user-view__form-container
            form.form.form-user-password
                .form__group
                label.form__label__pass(for='password-current') Current password
                input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                label.form__label__pass(for='password') New password
                input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-lg
                label.form__label__pass(for='password-confirm') Confirm password
                input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.right
                button.btn.btn--small.btn--green.btn--save-password Save new password